<html ng-app="app" ng-controller="mainCont">

<head>
    <title>To Do List - Saipos</title>
    <meta charset="utf-8" />
    <base href="/">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link href="./Client/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
    <div class="container">

        <img class="d-block mx-auto mb-3" src="https://media-exp1.licdn.com/dms/image/C4D0BAQF3Wk7n4eWFAA/company-logo_200_200/0/1562263042035?e=2159024400&v=beta&t=s42T46P6xchfeqD0Y09hLqxqLIfqtX_SWbASXspKsrE" width="120" />
        <h1 class="mb-3 justify-content-center text-center">ToDo List - Saipos</h1>

        <div class="row">
            <div class="col-md-12">
                <div class="card card-white">
                    <div class="card-body">
                        <form class="form justify-content-center" ng-submit="adicionarTask()">
                            <div class="form-row">
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" id="responsavel"
                                        ng-model="nomeResponsavel" placeholder="Nome do Responsável">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="email" class="form-control" id="email"
                                           ng-model="email" placeholder="E-mail">
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-10">
                                    <input type="text" class="form-control" id="descricao"
                                        ng-model="descricao" placeholder="Descrição">
                                </div>
                                <button type="submit" class="btn waves-effect btn-primary mb-2">Adicionar
                                    Tarefa</button>
                            </div>
                        </form>
                        <div class="row justify-content-around">

                            <div class="card card-white">
                                <h2>Tarefas Pendentes</h2>

                                <div class="my-2" >
                                    <div class="todo-item" ng-repeat="task in taskPendentes">
                                        <div class="checker"><span class=""><input type="checkbox" ng-click="mudarStatus(task,'concluida')"></span></div>
                                        <span>{{task.description}}</span>
                                    </div>
                                </div>
                            </div>

                            <div class="card card-white">
                                <h2>Tarefas Concluídas</h2>
                                <div class="my-2" >
                                    <div class="todo-item" ng-repeat="task in taskConcluidas">
                                        <span>{{task.description}}</span>
                                        <button ng-if="task.reactive <= 2" type="button" class="btn" data-toggle="modal"
                                                data-target="#modalPassword" ng-click="retomarTask(task)">
                                            <i style="color: 476ca4;" class="material-icons">reply</i>
                                        </button>
                                        <i style="color: 476ca4;" class="material-icons" ng-if="task.reactive > 2">block</i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal fade" id="modalPassword" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Digite a senha de autorização</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group col-md-6">
                                            <input type="password" class="form-control" id="passwordAuth"
                                                   ng-model="passwordAuth" placeholder="Senha">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                                        <button type="button" class="btn btn-primary" ng-click="autorizarPass()">Autorizar</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-12">
                            <button type="submit" ng-click="semTarefas()" class="btn btn-outline-danger my-2 d-block mx-auto">Estou sem
                                tarefas</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>



    <script src="https://code.jquery.com/jquery.min.js"></script>
    <script src="./Client/js/bootstrap.min.js"></script>
    <script src="./Client/js/angular/angular.min.js"></script>
    <script src="./Client/js/angular/angular-route.min.js"></script>
    <script src="./Client/js/angular/angular-resource.min.js"></script>
    <script src="./Client/js/angular/angular-cookies.min.js"></script>
    <script src="./Client/js/app.js"></script>

</body>

<style>
    body {
        margin-top: 20px;
        background: #f8f8f8;
    }

    .todo-nav {
        margin-top: 10px
    }

    .todo-list {
        margin: 10px 0
    }

    .todo-list .todo-item {
        padding: 15px;
        margin: 5px 0;
        border-radius: 0;
        background: #f7f7f7
    }

    .todo-list.only-active .todo-item.complete {
        display: none
    }

    .todo-list.only-active .todo-item:not(.complete) {
        display: block
    }

    .todo-list.only-complete .todo-item:not(.complete) {
        display: none
    }

    .todo-list.only-complete .todo-item.complete {
        display: block
    }

    .todo-list .todo-item.complete span {
        text-decoration: line-through
    }

    .remove-todo-item {
        color: #ccc;
        visibility: hidden
    }

    .remove-todo-item:hover {
        color: #5f5f5f
    }

    .todo-item:hover .remove-todo-item {
        visibility: visible
    }

    div.checker {
        width: 18px;
        height: 18px
    }

    div.checker input,
    div.checker span {
        width: 18px;
        height: 18px
    }

    div.checker span {
        display: -moz-inline-box;
        display: inline-block;
        zoom: 1;
        text-align: center;
        background-position: 0 -260px;
    }

    div.checker,
    div.checker input,
    div.checker span {
        width: 19px;
        height: 19px;
    }

    div.checker,
    div.radio,
    div.uploader {
        position: relative;
    }

    div.button,
    div.button *,
    div.checker,
    div.checker *,
    div.radio,
    div.radio *,
    div.selector,
    div.selector *,
    div.uploader,
    div.uploader * {
        margin: 0;
        padding: 0;
    }

    div.button,
    div.checker,
    div.radio,
    div.selector,
    div.uploader {
        display: -moz-inline-box;
        display: inline-block;
        zoom: 1;
        vertical-align: middle;
    }

    .card {
        padding: 25px;
        margin-bottom: 20px;
        border: initial;
        background: #fff;
        border-radius: calc(.15rem - 1px);
        box-shadow: 0 1px 15px rgba(0, 0, 0, 0.04), 0 1px 6px rgba(0, 0, 0, 0.04);
    }
</style>

</html>
